@{
    ViewData["Title"] = "Product Showcase";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 product-showcase">
            <img src="~/images/coffe-maker.jpg" class="img-fluid" alt="Product Image">
        </div>

        <div class="col-md-6">
            <h1 class="display-4">Discover Our Amazing Product!</h1>
            <p class="lead">Experience the revolutionary features of our product.</p>
            <hr class="my-4">
            <ul class="list-group">
                <li class="list-group-item">High-quality materials</li>
                <li class="list-group-item">Advanced technology</li>
                <li class="list-group-item">Easy to use and maintain</li>
            </ul>
            <div class="mt-4">
                <a href="#" class="btn btn-primary btn-lg">Learn More</a>
                <a href="#" class="btn btn-secondary btn-lg ml-3">Buy Now</a>
            </div>
        </div>
    </div>
</div>
